*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  font-family: "Open Sans";
  height: 100%;
  background-color: #fff;
}
.bg-white{
  background: white;
}
.bg-yellow{
  background-color: #f7b617;
}
.f-white{
  color: #fff;
}
.m-top40{
  margin-top: 40px;
}
.m-b40{
  margin-bottom: 40px;
}
#navbar{
  height: 150px;
  width: 100%;
  padding: 20px 30px;
  color: #606060;
  background-color: white
}
.bg-hero{
  background-image: url(../img/taxi.jpg);
  height: 800px;
  background-size: cover;
  background-repeat:no-repeat;
  position: absolute;
}
#informacion{
font-size: 1.2em;
line-height: 1.2em;
border-top: white;
border-bottom: white;
border-right: white;
}
